/*css outside*/
body1 {
  background-color: #00adef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 473px;
}
.container1 {
  width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
.logo-container1 {
  background-color: #00adef;
  margin-right: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container1 img {
  width: 391px;
}
.form-container1 {
  padding: 20px;
  background-color: white;
}
.form-container1 h2 {
  color: #363636;
  margin-bottom: 20px;
}
.form-container1 .field {
  margin-bottom: 10px;
}
.form-container1 .button.is-primary {
  background-color: #ff0000;
  border-color: #ff0000;
}
.form-container1 .button.is-primary:hover {
  background-color: #d40000;
  border-color: #d40000;
}
.form-container1 .button.is-facebook {
  background-color: #4267b2;
  color: white;
}
.form-container1 .button.is-google {
  background-color: #db4437;
  color: white;
}
.form-container1 .help-links {
  display: flex;
  justify-content: space-between;
}
.form-container1 .help-links a {
  color: #00adef;
}

/*header*/
.navbar {
  padding: 0px;
  height: 10px;
  position: relative;
}
.navbar.header {
  /* background-color: #00adef; */
  background: rgb(12, 12, 140);
  background: linear-gradient(
    0deg,
    rgba(12, 12, 140, 1) 0%,
    rgba(7, 3, 80, 1) 100%
  );
}

/* .nav-hover {
  transition: background-color 0.3s, border-radius 0.3s;
  transition: ease-in-out;
} */

.nav-hover:hover {
  background-color: #f5f5f5;
  border-radius: 12px;
  color: #00adef;
  transition: ease-in-out 0.3s;
}

.nav-hover:hover i,
.nav-hover:hover p {
  color: #00adef;
}

.searchbar {
  padding: 0px;
  height: 90px;
  position: relative;
}

.header .navbar-menu {
  flex-grow: 1;
  justify-content: space-between;
}
.header .navbar-start,
.header .navbar-end {
  align-items: center;
}
.navbar-item.has-dropdown:hover .navbar-dropdown {
  display: block;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.search-bar input {
  flex-grow: 1;
  border-radius: 0;
  border: none;
  font-size: 14px;
  padding: 8px 12px;
  width: relative;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.search-bar button {
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 0;
  font-size: 14px;
  padding: 8px 12px;
  height: 36px;
  border-radius: 3px;
  margin-left: 4px;
  width: 50px;
  height: 36px;
}

.navbar-item .icon {
  margin-right: 10px;
}
.cart {
  position: relative;
}
.cart .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff0000;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  width: 36px;
  height: 36px;
}

.blue {
  /* background-color: #00adef; */
  background: rgb(0, 173, 239);
  background: linear-gradient(
    0deg,
    rgba(0, 173, 239, 1) 0%,
    rgba(12, 12, 140, 1) 100%
  );
  /* background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(12,12,140,1) 93%, rgba(7,3,80,1) 100%); */
}
.white {
  color: #ffff;
}
.grey {
  background-color: #eeee;
}
.header-container {
  padding: 20px 0;
}

.logo img {
  max-height: 50px;
}

.help-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.columns.no-gap {
  margin-left: 4;
  margin-right: 4;
  margin-top: 4;
  margin-bottom: 4;
}
.columns.no-gap > .column {
  padding: 0;
  margin: 0;
}

.size-gap {
  margin-top: 1;
  padding-top: 1;
  margin-bottom: 1;
  padding-bottom: 0;
}
/* Border */

.grid-border {
  margin: 5px;
}

.ads {
  height: 111px;
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: black;
}

.company-banner {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url("https://via.placeholder.com/800x200"); /* Ganti dengan URL gambar banner Anda */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
}

.company-info {
  margin-left: 130px;
  color: white;
}

.company-info h1 {
  font-size: 24px;
  font-weight: bold;
}

.company-info p {
  margin-top: 5px;
  font-size: 16px;
}

/* hr style */
hr {
  width: 100%;
  /* justify-content: center; */
}

.vertical-hr {
  width: 1rem;
  transform: rotate(90deg);
}

/* progress bar */
.progress-container {
  margin-bottom: 20px;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 10px;
}

.progress-steps span {
  width: 25%;
  text-align: center;
  font-size: 12px;
  color: #7a7a7a;
}

.step-icon {
  margin-bottom: 10px;
  color: #23d160;
}

.step-icon.active {
  color: #ffdd57;
}

/* list menu */
.menu-list ul {
  display: none; /* Hide submenus by default */
}
.menu-list li.active ul {
  display: block; /* Show submenus when active */
}

/* Sytle Switch Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 2.6rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.1rem);
  -ms-transform: translateX(1.1rem);
  transform: translateX(1.1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* Varian item */
.variant-item {
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.variant-item img {
  border-radius: 8px;
}

.variant-item.selected {
  border-color: #2196f3;
}

.variant-item.selected::after {
  content: "\2713";
  position: absolute;
  top: 8px;
  right: 8px;
  background: #2196f3;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar */
@media only screen and (max-width: 1022px) {
  .navbar-menu {
    background: rgb(0, 173, 239);
    background: linear-gradient(
      0deg,
      rgba(0, 173, 239, 1) 0%,
      rgba(12, 12, 140, 1) 100%
    );
  }
}

/* horizontal scroll */
.horizontal-scroll,
.horizontal-scroll-desktop {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar,
.horizontal-scroll-desktop::-webkit-scrollbar {
  display: none;
}

.columns {
  display: inline-block;
  vertical-align: top;
}

.horizontal-scroll,
.horizontal-scroll-desktop {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 10px;
}

.horizontal-scroll .card,
.horizontal-scroll-desktop .card {
  flex: 0 0 auto;
  width: 250px;
}

/* Position */
.is-sticky-top {
  position: sticky;
  top: 0;
}

.is-sticky-bottom {
  position: sticky;
  bottom: 0;
}

.is-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-1 {
  top: 0; /* Tetap di atas halaman */
  z-index: 30;
}

.header-2 {
  top: 50px; /* Memulai setelah header pertama */
  z-index: 29;
}

.header-3 {
  top: 150px; /* Memulai setelah header kedua */
  z-index: 28;
}

/* Position */

.is-absolute {
  position: absolute;
  z-index: 10;
}

/* ellipsis text */
.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-title-wrapper {
  height: 3rem;
}

/* slider product */
.slider-img-product {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.slider-img-product img {
  width: 100%;
  height: 31.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-img-product img:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

.slider-img-product::before {
  display: none;
}

.slider-img-product img:first-child {
  z-index: 1;
}

.slider-img-product img:nth-child(2) {
  z-index: 0;
}

.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  /* opacity: 0.6; */
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.active,
.dot:hover {
  /* opacity: 1.0; */
  background-color: #2196f3;
  transform: scale(0.9);
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.images {
  display: flex;
  transition: 1s;
  width: 100%;
}

.images img {
  width: 100%;
}

.wrapper {
  width: 800px;
  margin: auto;
  border-radius: 0px;
  overflow: hidden;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

#slide-5:target ~ .images {
  margin-left: -400%;
}

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

.navigation .nav-link {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #dedede;
  border-radius: 50%;
  margin: 0.5px;
  transition: background-color 0.5s;
}

.navigation .nav-link.active {
  background-color: #00adef;
}

.navigation .nav-link:hover {
  background-color: #00adef;
}

.prev-btn {
  opacity: 90;
}

.prev-btn a {
  transition: 0.5s;
}

.next-btn {
  opacity: 90;
}

.next-btnc {
  opacity: 90;
}

.prev-btn a {
  transition: 0.5s;
}

.prev-btnc {
  opacity: 90;
}

.wrapper:hover .prev-btn,
.wrapper:hover .next-btn {
  opacity: 1;
}

/* halaman user */
.member-area {
  display: flex;
  align-items: center;
  gap: 0;
}

.member-profil {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: -7px;
  padding: 0;
  display: inline-block;
}

.member-navbar-item {
  font-size: 13px;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.member-navbar-item:hover {
  color: rgba(255, 255, 255, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.member-navbar-item {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 8px 16px;
}

.dropdown-content li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-content li a:hover {
  color: #00adef;
}

.change-profil {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: -7px;
  padding: 0;
  display: inline-block;
}

.profile-container {
  display: flex; /* Mengatur elemen di dalamnya menjadi horizontal */
  align-items: center; /* Vertikal alignment menjadi tengah */
}

.profile-container img {
  margin-right: 10px; /* Jarak antara gambar dan nama */
  width: 50px; /* Atur ukuran gambar */
  height: 50px;
  border-radius: 50%; /* Membuat gambar menjadi lingkaran jika ingin */
}

.profile-container a {
  margin-bottom: -15px;
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.profile-container h3 {
  margin-bottom: -15px;
  margin-left: -48px;
  font-size: 13px;
  font-weight: 400;
}

.custom-title {
  font-size: 15px;
  font-weight: 500;
}
.custom-Button {
  background-color: red;
}

div.sticky.box{
  position: sticky;
  bottom: 0;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
}

.subtotal{
  margin-top: 200px;
}

.konten{
  display: none;
}
.konten.active {
  display: block;
  background-color: transparent; /* Atau sesuaikan dengan kebutuhan */
}

/* .image{
  float:left
} */

/* list menu */
.sidebar a {
  display: block;
  padding: 6px;
  text-decoration: none;
  color: black;
}

.sub-sidebar {
  display: none; /* Sembunyikan sub-sidebar secara default */
  margin-left: 20px; /* Menambahkan indentasi untuk sub-menu */
  text-decoration: none;
  background: none;
}

.sub-sidebar a {
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  background: none;
}

/* Active state for main and sub-sidebar links */
.sidebar a.active,
.sub-sidebar a.active {
  color: #d9292b;
  background: none;
}

/* Display active sub-sidebar */
.sub-sidebar.active {
  display: block;
  color: #d9292b;
}

#sub1{
  display: none;
}

#sub2{
  display: none;
}

/* Alamat */
.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input {
    width: 100%;
    padding-right: 30px; /* Ruang untuk ikon di sebelah kanan */
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}

.input-menu .tabs {
  display: none;
}

.input-menu.active .tabs {
  display: block;
  background-color: none;
}

.option-input.active {
  display: block; /* Tampilkan konten yang aktif */
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
}

.option-input{
  display: none;
  overflow-y: auto;
  max-height: 40vh;
  width: 100%;
  z-index: 1;
  padding: 8px;
  background: none;
}

.option-input div{
  cursor: pointer;
  background: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.input-menu{
  background-color: white;
}

.option:hover {
 background-color: rgba(200, 200, 200, 0.5);
}

.input-options{
  display: none;
}

.input-options.active{
  display: block;
}

.disabled-tab {
  cursor: not-allowed;
  pointer-events: none; /* Agar elemen tidak bisa diklik */
}

.input-options {
  display: none;
}

.input-options.active {
  display: block;
}

.input-menu.input-options{
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin-left: -32px;
}

.option{
  margin-top: 5px;
}

* Alamat2 Profil*/
.input-container2 {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-menu2 .tabs {
display: none;
}

.input-menu2.active .tabs {
display: block;
background-color: none;
}

.option-input2.active {
display: block; /* Tampilkan konten yang aktif */
margin: 0px;
-webkit-tap-highlight-color: transparent;
background-color: white;
}

.option-input2{
display: none;
overflow-y: auto;
max-height: 40vh;
width: 100%;
z-index: 1;
padding: 8px;
background: none;

}

.option-input2 div{
cursor: pointer;
background: none;
outline: none;
-webkit-tap-highlight-color: transparent;
}

.input-menu2{
background-color: white;
}

.option:hover {
background-color: rgba(200, 200, 200, 0.5);
}

.input-options2{
display: none;
}

.input-options2.active{
display: block;
}

.disabled-tab {
cursor: not-allowed;
pointer-events: none; /* Agar elemen tidak bisa diklik */
}

.input-options2.active {
display: block;
}

.input-menu2.input-options2{
position: absolute;
z-index: 1000;
margin-left: -2.6vw;
width: 100%;
}
