<section class="hero">
  <div class="container column is-9">
    <div class="level columns has-text-centered">
      <div class="column">
        <div class="icon box">
          <i class="icofont-shopify"></i>
        </div>
        <div>
          <p>Arumi Pilih Lokal</p>
        </div>
      </div>
      <div class="column">
        <div class="icon box">
          <i class="icofont-bag-alt"></i>
        </div>
        <div>
        <p>Arumi Mall</p>
        </div>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-mobile-phone"></i>
        </div>
        <p>Pulsa, Tagihan, dan Tiket</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-female"></i>
        </div>
        <p>inFashion</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-shopping-cart"></i>
        </div>
        <p>Arumi Supermarket</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-pay"></i>
        </div>
        <p>Bayar Di Tempat</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-fire-burn"></i>
        </div>
        <p>Termurah di Arumi</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-ticket"></i>
        </div>
        <p>Gratis Ongkir dan Voucher</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-handshake-deal"></i>
        </div>
        <p>Arumi Barokah</p>
      </div>
      <div class="column ">
        <div class="icon box">
          <i class="icofont-sale-discount"></i>
        </div>
        <p>Semua Promo</p>
      </div>
    </div>
  </div>
</section>