<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>Gambar</th>
              <th>Nama Produk</th>
              <th>Harga Satuan</th>
              <th>Kuantitas</th>
              <th>Total Harga</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <repeat group="{{ @carts }}" value="{{ @cart }}">
                <tr>
                    <td><img class="image is-48x48" src="{{@BASE}}/public/images/1.jpg" alt=""></td>
                    <td>{{ @cart.product.name }}</td>
                    <td>Rp{{ number_format(@cart.product.price, 0, ',', '.') }}</td>
                    <td>{{ @cart.quantity }}</td>
                    <td>Rp{{ number_format(@cart.product.price * @cart.quantity, 0, ',', '.') }}</td>
                </tr>
            </repeat>                            
          </tbody>        
        </table>
      </div>
    </div>
  </div>
  
  <!-- Script untuk mengubah kuantitas produk -->
  <script>
      function changeQty(button, amount) {
    const cartId = button.getAttribute('data-cart-id');
    const qtyInput = document.getElementById('quantityInput_' + cartId);
    let currentQty = parseInt(qtyInput.value);
    
    if (!isNaN(currentQty)) {
        let newQty = currentQty + amount;
        if (newQty < 1) newQty = 1; // kuantitas tidak boleh kurang dari 1
        qtyInput.value = newQty;

        // Kirim pembaruan kuantitas ke server
        fetch('{{ @BASE }}/update-quantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ cart_id: cartId, quantity: newQty })
        })
        .then(response => response.json())
        .then(data => {
            // Tindakan jika diperlukan setelah pembaruan
            console.log(data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}

  </script>
  
