<br>
<div class="box" style="width: 70%; margin: 0 auto;">
<table class="table" style="width: 100%; margin: 0 auto; font-size: 14px;">
  <thead>
    <tr>
      <th style="font-weight: 400; width: 50%;">
        <input type="checkbox" style="margin-right: 10px;"> <!-- Checkbox di sebelah kiri -->
        <abbr>Produk</abbr>
      </th>
      <th style="font-weight: 400; width: 15%; text-align: center;"><abbr>Harga Satuan</abbr></th>
      <th style="font-weight: 400; width: 20%; text-align: center;"><abbr>Kuantitas</abbr></th>
      <th style="font-weight: 400; width: 15%; text-align: center;"><abbr>Total Harga</abbr></th>
      <th style="font-weight: 400; width: 15%; text-align: center;"><abbr>Aksi</abbr></th>
    </tr>
  </thead>
  <tbody>
    <repeat group="{{ @carts }}" value="{{@cart}}">
      <tr>
        <td style="display: flex; align-items: center;">
          <input type="checkbox" style="margin-right: 10px;">
          <img src="{{@BASE}}/public/images/1.jpg" class="image is-64x64" alt="logo" style="margin-right: 10px;"> <!-- Gambar -->
          <div style="display: flex; flex-direction: column; margin-left: 10px; margin-top: -35px;"> <!-- Kontainer untuk teks -->
            <span>{{@cart.name}}</span> 
            <span class="has-text-primary is-size-7">Bebas Pengembalian</span>
          </div>
        </td>
        </td>
        <td style="text-align: center;">Rp{{ number_format (@cart.price, 0, ',', '.' )}}</td>
        <td style="text-align: center;">
          <div class="field has-addons">
            <p class="control">
              <button
                class="button is-light"
                type="button"
                onclick="changeQty(-1)"
              >
                -
              </button>
            </p>
            <p class="control">
              <input
                class="input"
                name="qty"
                type="number"
                value="{{@cart.qty}}"
                min="1"
                id="quantityInput"
              />
            </p>
            <p class="control">
              <button
                class="button is-light"
                type="button"
                onclick="changeQty(1)"
              >
                +
              </button>
            </p>
          </div>
        </td>
        
        <td>Rp{{ number_format(@cart.price*@cart.qty, 0, ',', '.' )}}</td>

        <td>                        
          <a href="{{ @BASE }}/remove/{{ @cart.id }}">
          <button class="button is-info is-small" style="text-align: center;">
          Hapus
          </button>
        </a></td>
      </tr>
  </repeat>
  </tbody>
</table>
</div>
<br>


<div class="box" style="width: 70%; margin: 0 auto; font-size: 14px;">
  <div class="columns has-text-right">
      <div class="column is-12">
          <p>Gratis Ongkir s/d Rp40.000 dengan min. belanja Rp0</p>
      </div>
  </div>
  <div class="columns has-text-right">
      <div class="column is-12">
          <p>Gratis Ongkir s/d Rp40.000 dengan min. belanja Rp0</p>
      </div>
  </div>
</div>
<div class="box p-0" style="width: 70%; margin: 0 auto; font-size: 14px;">
  <div class="column-wrapper">
      <div class="column is-flex is-justify-content-end">
          <p class="has-text-weight-semibold mr-6">Voucher Gratis</p>
          <a href="" class="has-text-info">Gunakan/ masukkan kode</a>
      </div>
      <hr class="m-0">
      <div class="column is-flex is-justify-content-end">
          <p class="has-text-weight-medium mr-6">Tidak ada produk yang dipilih</p>
          <p class="has-text-grey has-text-weight-bold">-Rp0</p>
      </div>
      <hr class="m-0">
      <div class="column is-flex">
          <div class="column is-half is-flex is-align-items-center p-0">
              <input type="checkbox">
              <p class="ml-5">Pilih Semua(2)</p>
              <p class="ml-5">Hapus</p>
              <p class="ml-5 has-text-info">Tambahkan ke Favorit</p>
          </div>
          <div class="column is-half is-flex is-justify-content-end is-align-items-center p-0">
              <p class="mr-1">Total (0 Produk)</p>
              <p class="mr-3 is-size-4 has-text-info">Rp0</p>
              <a href="{{ @BASE }}/checkout" class="button is-info">Checkout</a>
          </div>
      </div>
  </div>
</div>
<h2 class="title is-5 mt-6" style="margin-left: 200px;">Kamu Mungkin Juga Suka</h2>



<script>
    function changeQty(amount) {
    const qtyInput = document.getElementById("quantityInput");
    let currentQty = parseInt(qtyInput.value);
    if (!isNaN(currentQty)) {
      let newQty = currentQty + amount;
      if (newQty < 1) newQty = 1; // tidak boleh kurang dari 1
      qtyInput.value = newQty;
    }
  }


  function changeQty(delta) {
    var input = document.getElementById('quantityInput'); // Ambil elemen input
    var currentValue = parseInt(input.value); // Ambil nilai saat ini dan ubah ke integer

    // Perbarui nilai input, tetapi tidak kurang dari 1
    if (currentValue + delta >= 1) {
      input.value = currentValue + delta;
    }
  }
</script>
