            <div class="column box">
                <div class="columns is-flex">
                    <div class="column is-4" style="align-content: center;">
                        <p class="level-left has-text-weight-medium">Voucher Saya</p>
                    </div>
                    <div class="column is-8">
                        <div class="level-right is-flex">
                            <a href="#" class="has-text-link is-size-7">
                                Dapatkan Voucher Lainnya
                            </a>
                            <hr class="vertical-hr">
                            <a href="#" class="has-text-link is-size-7">
                                Lihat Riwayat Voucher
                            </a>
                            <hr class="vertical-hr">
                            <a href="#" class="has-text-grey is-size-7">
                                Pelajari lebih lanjut
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kode-voucher columns is-flex has-background-white-bis">
                    <div class="column is-one-third" style="align-content: center;">
                        <p class="has-text-weight-medium level-right is-size-7">Tambah Voucher</p>
                    </div>
                    <div class="column is-one-third">
                        <div class="container">
                            <input class="input" type="text" placeholder="Masukkan kode voucher">
                        </div>
                    </div>
                    <div class="column">
                        <button class="button is-link has-text-white">Simpan</button>
                    </div>
                </div>
                <div style="margin-bottom: 1vh;">
                    <div class="tabs is-boxed">
                        <ul>
                            <li class="is-active"><a>Semua (51)</a></li>
                            <li><a>Arumi (46)</a></li>
                            <li><a>Toko (3)</a></li>
                            <li><a>Pulsa & Tagihan (0)</a></li>
                            <li><a>ArumiPart (0)</a></li>
                            <li><a>Voucher Arumi (0)</a></li>
                        </ul>
                    </div>
                </div>
                <!-- ini vouchernya -->
                <div class="list-voucher is-flex">
                    <!-- <div class="grid"> -->
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>

                <!-- ini vouchernya 2 -->
                <div class="list-voucher is-flex">
                    <!-- <div class="grid"> -->
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- ini vouchernya 2 -->
                <div class="list-voucher is-flex">
                    <!-- <div class="grid"> -->
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell column is-half">
                        <div class="box is-flex">
                            <div class="column is-3 has-background-primary"></div>
                            <div class="column is-6">
                                <p class="is-size-7 has-text-weight-medium">Gratis Ongkir</p>
                                <p class="is-size-7 has-text-weight-light">Min. Blj Rp0</p>
                                <br>
                                <div class="kadaluwarsa is-flex">
                                    <p class="is-size-7 has-text-grey">S/D: 25.08.2024</p>
                                    <a href="" class="is-size-7 has-text-weight-medium has-text-link"
                                        style="margin-left: 1rem;">S&K</a>
                                </div>
                            </div>
                            <div class="column is-3" style="align-content: center;">
                                <div class="level">
                                    <button class="button is-primary is-outlined is-size-7">Pakai</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>