

            <div class="column box">
                <div class="level">
                    <div class="level-left">
                        <a class="has-text-dark" href="{{@BASE}}/pengiriman">
                        <i class="icofont-simple-left"></i>
                        kembali
                        </a>
                    </div>
                    <div class="information level-right">
                        <a href="{{@BASE}}/detail_pengiriman" class="has-text-dark is-size-7">
                        NO.PESANAN, KBJYGJNS78583</a>
                        <hr class="vertical-hr">
                        <p class="is-size-7 has-text-info">PESANAN SELESAI</p>
                    </div>
                </div>
                <hr>
                <div class="progress-container">
                    <progress class="progress is-primary" value="60" max="100"></progress>
                    <div class="progress-steps">
                        <span><i class="icofont-tick-mark"></i> Pesanan Dibuat</span>
                        <span><i class="icofont-tick-mark"></i> Pesanan Dibayarkan</span>
                        <span><i class="icofont-tick-mark"></i> Pesanan Dikirimkan</span>
                        <span><i class="icofont-tick-mark"></i> Pesanan Selesai</span>
                        <span><i class="icofont-tick-mark"></i> Pesanan Selesai</span>
                    </div>
                </div>

                <div class="details">
                    <div class="box">
                        <p class="title is-5">Alamat Pengiriman</p>
                        <p>Ramadhanu gusta abayu</p>
                        <p>(+62) 85624240421</p>
                        <p>Jalan Nakula Sadewa Raya, Kel. Dukuh, Sidomukti, KOTA SALATIGA - SIDOMUKTI, JAWA TENGAH, ID 50723
                        </p>
                    </div>

                    <div class="box">
                        <p class="title is-5">Status Pengiriman</p>
                        <ul>
                            <li><strong>01-04-2024 17:30</strong> - Terkirim: Pesanan telah sampai diterima oleh Yang
                                bersangkutan, Penerima: Ramadhanu.</li>
                            <li><strong>01-04-2024 09:11</strong> - Pesanan dalam Pengiriman: Pesanan sedang diantar ke
                                alamat tujuan.</li>
                            <li><strong>01-04-2024 07:12</strong> - Pesanan telah sampai di lokasi transit Hub terakhir
                                Salatiga Hub.</li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="box">
                    <div class="level">
                        <div class="level-left">
                            <div>
                                <span class="tag is-danger is-medium">Star+</span>
                                <strong class="ml-2">Thanksinsomnia Official Shop</strong>
                            </div>
                        </div>
                        <div class="level-right">
                            <button class="button is-info">Chat</button>
                            <button class="button is-link ml-2">Kunjungi Toko</button>
                        </div>
                    </div>
                </div> -->
                <div class="box">
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://via.placeholder.com/64" alt="Ring Biance Silver">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p><strong>Cover Radiator Vario</strong></p>
                            <p>Varian: Merah</p>
                            <p><span class="tag is-success is-light">Garansi Bebas Pengembalian</span></p>
                        </div>
                        <div class="media-right">
                            <p class="has-text-danger"><del>Rp100.000</del> Rp18.000</p>
                        </div>
                    </div>
                    <hr>
    
                    <div class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://via.placeholder.com/64" alt="Tshirt Anette White">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p><strong>Tutup Oli ADV</strong></p>
                            <p>Varian: Biru</p>
                            <p><span class="tag is-success is-light">Garansi Bebas Pengembalian</span></p>
                        </div>
                        <div class="media-right">
                            <p class="has-text-danger"><del>Rp200.000</del> Rp99.000</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-8">
                            <p>Subtotal Produk</p>
                            <p>Subtotal Pengiriman</p>
                            <p>Subtotal Diskon Pengiriman</p>
                            <p>Biaya Penanganan</p>
                            <p>Biaya Layanan</p>
                        </div>
                        <div class="column is-4 has-text-right">
                            <p>Rp117.000</p>
                            <p>Rp18.000</p>
                            <p>-Rp15.000</p>
                            <p>Rp2.500</p>
                            <p>Rp1.000</p>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column is-8">
                            <p><strong>Total Pesanan</strong></p>
                        </div>
                        <div class="column is-4 has-text-right">
                            <p><strong class="has-text-danger">Rp123.500</strong></p>
                        </div>
                    </div>
                    <hr>
                    <div class="columns">
                        <div class="column is-8">
                            <p><small>Metode Pembayaran</small></p>
                        </div>
                        <div class="column is-4 has-text-right">
                            <p><small>Indomaret/i.Saku</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>