
<div class="column box is-hidden-touch">
    <div class="level">
        <div class="level-left">
            <h1 class="title is-5">Alamat Saya</h1>
        </div>
        <div class="level-right">
            <a id="openModal" class="button is-info is-size-6 js-modal-trigger" href="#" data-target="mapModal">+ Tambah Alamat Baru</a>
        </div>
    </div>
    
    <div id="mapModal" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <h1 class="is-size-5 ml-3" style="font-weight: 500;">Alamat Baru</h1>
                <form action="{{@BASE}}/addNewAddress" method="POST">
                    <div class="columns-1 is-flex">
                        <div class="column is-half">
                            <div class="input-container2">
                                <input type="text" class="input" placeholder="" name="name">
                                <label for="inputField" class="floating-label">Nama Lengkap</label>
                            </div>
                        </div>
                        <div class="column is-half">
                            <div class="input-container2">
                                <input type="text" class="input" placeholder="" name="phone">
                                <label for="inputField" class="floating-label">Nomor Telepon</label>
                            </div>
                        </div>
                    </div>
                    <div class="columns-2 is-flex">
                        <div class="column is-full pt-0">
                        <div class="input-menu">
                            <div class="input-container2">
                                <input type="text" id="inputField" class="input text-input" placeholder="" name="district">
                                <label for="inputField" class="floating-label">Provinsi, Kota, Kecamatan, Kelurahan</label>
                                <i class="bx bx-chevron-down input-icon"></i>
                            </div>
                                                      
                            <div class="tabs is-centered box input-menu input-options p-3">
                                    <ul style="font-weight: 400;">
                                    <li onclick="showInput('provinsi')" class="is-active">
                                        <a>Provinsi</a>
                                    </li>
                                    <li onclick="showInput('kota')">
                                        <a>Kota</a>
                                    </li>
                                    <li onclick="showInput('kecamatan')">
                                        <a>Kecamatan</a>
                                    </li>
                                    <li onclick="showInput('kelurahan')">
                                        <a>Kelurahan</a>
                                    </li>
                                    </ul>
                                <div id="provinsi" class="option-input active"></div>
                                <div id="kota" class="option-input"></div>
                                <div id="kecamatan" class="option-input" ></div>
                                <div id="kelurahan" class="option-input" ></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="columns-3 is-flex">
                        <div class="column is-full pt-0">
                            <div class="input-container2">
                                <input type="text" class="input text-input" placeholder="" name="jalan">
                                <label for="inputField" class="floating-label">Nama Jalan, Gedung, No. Rumah</label>
                            </div>
                        </div>
                    </div>
                    <div class="columns-4 is-flex">
                        <div class="column is-full pt-0">
                            <div class="input-container2">
                                <input type="text" class="input" placeholder="" name="detail">
                                <label for="inputField" class="floating-label">Detail Lainnya (Contoh: Blok/Unit No., Patokan)</label>
                            </div>
                        </div>
                    </div>
                    <div id="map" style="height: 40vh;"></div>
                
                <div class="columns mt-3">
                    <div class="column is-flex is-justify-content-center">
                        <button type="submit" name="submit" class="button is-info level">Konfirmasi</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        <button class="modal-close is-large" data-target="mapModal" aria-label="close"></button>
    </div>

    <hr>
    <div class="columns">
        <!-- Profile Form -->
        <div class="column">
            <div>
                <h2 class="title is-5" style="font-weight: 400; color: black;">Alamat</h2>
            </div> 
                    <div class="modal" id="mapModal">
                        <div class="modal-background"></div>
                
                        <div class="modal-content">
                            <div class="box">
                                <h1 class="is-size-5 ml-3 has-text-left" style="font-weight: 500;">Ubah Alamat</h1>
                                <form action="{{@BASE}}/addNewAddress" method="POST">
                                    <div class="columns-1 is-flex">
                                        <div class="column is-half">
                                            <div class="input-container2">
                                                <input type="text" class="input" placeholder="" name="name">
                                                <label for="inputField" class="floating-label">Nama Lengkap</label>
                                            </div>
                                        </div>
                                        <div class="column is-half">
                                            <div class="input-container2">
                                                <input type="text" class="input" placeholder="" name="phone">
                                                <label for="inputField" class="floating-label">Nomor Telepon</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns-2 is-flex">
                                        <div class="column is-full pt-0">
                                        <div class="input-menu">
                                            <div class="input-container2">
                                                <input type="text" id="inputField" class="input text-input" placeholder="" name="">
                                                <label for="inputField" class="floating-label">Provinsi, Kota, Kecamatan, Kelurahan</label>
                                                <i class="bx bx-chevron-down input-icon"></i>
                                            </div>
                                                                      
                                            <div class="tabs is-centered box input-menu input-options p-3">
                                                    <ul style="font-weight: 400;">
                                                    <li onclick="showInput('provinsi')" class="is-active">
                                                        <a>Provinsi</a>
                                                    </li>
                                                    <li onclick="showInput('kota')">
                                                        <a>Kota</a>
                                                    </li>
                                                    <li onclick="showInput('kecamatan')">
                                                        <a>Kecamatan</a>
                                                    </li>
                                                    <li onclick="showInput('kelurahan')">
                                                        <a>Kelurahan</a>
                                                    </li>
                                                    </ul>
                                                <div id="provinsi" class="option-input active"></div>
                                                <div id="kota" class="option-input"></div>
                                                <div id="kecamatan" class="option-input" ></div>
                                                <div id="kelurahan" class="option-input" ></div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="columns-3 is-flex">
                                        <div class="column is-full pt-0">
                                            <div class="input-container2">
                                                <input type="text" class="input" placeholder="" name="jalan">
                                                <label for="inputField" class="floating-label">Nama Jalan, Gedung, No. Rumah</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="columns-4 is-flex">
                                        <div class="column is-full pt-0">
                                            <div class="input-container2">
                                                <input type="text" class="input" placeholder="" name="detail">
                                                <label for="inputField" class="floating-label">Detail Lainnya (Contoh: Blok/Unit No., Patokan)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="map2" style="height: 40vh;"></div>
                                
                                <div class="columns mt-3">
                                    <div class="column is-flex is-justify-content-center">
                                        <button type="submit" name="submit" class="button is-info level">Konfirmasi</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                
                        <button class="modal-close is-large" aria-label="close" data-target="mapModal2"></button>
                    </div>
                </div>
            </div>
            <br>
            <span class="button is-info is-outlined is-small" style="margin-top: -20px; font-size: 13px;">Utama</span>
            <repeat group="{{@addresses}}" value="{{@address}}">
                <div class="columns">
                    <div class="column is-9 is-size-6">
                        <p class="inline">{{@address.name}}</p>
                        <span class="horizontal inline-item">|</span>
                        <p class="inline-item">{{@address.phone}}</p>
                        <p class="block-item">{{@address.detail}}, {{@address.sub_district}}</p>
                        <p class="block-item">{{@address.district}}, {{@address.province}}, ID {{@address.postal}}</p>
                    </div>
                    <div class="column is-3 has-text-right">
                        <div>
                            <p class="inline-content is-size-6">
                                <a id="openModal2" class="js-modal-trigger" href="#" data-target="mapModal">Ubah</a></p>
                        </div>
            
                    <div class="inline-block is-size-6">
                        <p class="inline-content"><a href="#">Hapus</a></p>
                    </div>
                
                    <div>
                        <a class="button is-outlined is-small">Atur Sebagai Utama</a>
                    </div>
                </div>
            </repeat>
            <br>
            </div>
        </div>
    </div>
</div>
</div>
</section>

