<div class="column box">
    <h1 class="title is-4">Profil Saya</h1>
    <p class="subtitle is-6">Kelola informasi profil Anda untuk mengontrol, melindungi dan mengamankan akun</p>
    <hr>
    <form id="profileForm" action="{{ @BASE }}/profil" method="POST" enctype="multipart/form-data">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="field">
                <label class="label">Username</label>
                    <div class="control"> 
                        <input  class="input" type="text" value="{{@members.username}}" disabled>
                        <span class="has-text-danger has-text-weight-bold is-italic is-size-7">*username tidak dapat diubah
                        </span>
                    </div>
                </div>
                            
                <div class="field">
                    <label class="label">Nama</label>
                    <div class="control">
                        <input class="input" type="text" value="{{@members.name}}" name="name" required>
                    </div>
                </div>
                            
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" value="{{@members.email}}" name="email">  
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nomor Telepon</label>
                    <div class="control">
                        <input class="input" type="text" value="{{@members.phone}}" name="phone">
                        <a href="#" class="ml-2">Ubah</a>
                    </div>
                </div>
        
                <div class="field">
                    <label class="label">Jenis Kelamin</label>
                    <div class="control">
                        <check if="{{@members.gender == ''}}">
                            <true>
                                <label class="radio">
                                    <input type="radio" name="gender" value="L">
                                    Laki-laki
                                </label>
                                <label class="radio">
                                    <input type="radio" name="gender" value="P">
                                        Perempuan
                                </label>
                            </true>
                            <false>
                                <check if="{{@members.gender == 'L'}}">
                                    <true>
                                        <label class="radio">
                                            <input type="radio" name="gender" value="L" checked>
                                            Laki-laki
                                            <input type="radio" name="gender" value="P">
                                            Perempuan
                                        </label>
                                    <true>
                                    <false>
                                        <label class="radio">
                                            <input type="radio" name="gender" value="L" >
                                            Laki-laki
                                            <input type="radio" name="gender" value="P" checked>
                                            Perempuan
                                        </label>
                                    </false>
                                </check>
                            </false>
                        </check>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Tanggal Lahir</label>
                    <div class="control">
                        <input class="input" type="date" value="{{@members.tanggal_lahir}}" name="tanggal_lahir">
                    </div>
                </div>
        
                <div class="field">
                    <div class="control">
                        <button type="submit" id="updateProfile" name="submit" class="button is-info">Simpan</button>
                    </div>
                </div>
            </div>
                    <div class="column is-one-quarter">
                        <div class="has-text-centered">
                            <figure class="image is-96x96 is-inline-block">
                                <img id="profileImage" src="{{@BASE}}/public/images/uploadedFile/{{@members.gambar}}" alt="Profile Picture" class="is-rounded">
                            </figure>
                            <input class="submit" type="file" name="gambar"></input>
                                <p class="mt-2">Ukuran gambar: maks. 1 MB</p>
                                <p>Format gambar: .JPG, .JPEG, .PNG</p>
                                <br>
                                <check if="{{@error}}">
                                    <p class="has-text-danger is-italic">{{@error}}</p>
                                </check>   
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $('#profileForm').on('submit', function(e) {
    e.preventDefault(); // Mencegah form reload

    var formData = new FormData(this); // Menggunakan FormData untuk menangani file upload

    $.ajax({
    url: '/profil',
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false,
    dataType: 'json', // Tambahkan ini untuk memastikan respons JSON
    success: function(response) {
    if (response.success) {
            // Perbarui teks profil lain
            $('#name').text(response.name);
            // Jika ada gambar baru, update src gambar profil dengan parameter unik
            if (response.gambar) {
                $('#profileImage').attr('src', '/public/images/uploadedFile/' + response.gambar + '?' + new Date().getTime());
                $('#headerIconImage').attr('src', '/public/images/uploadedFile/' + response.gambar + '?' + new Date().getTime());
            }
        }
    },

    error: function(xhr, status, error) {
        console.log('Error: ' + xhr.responseText);
    }
});

});

</script>

<script src="/dist/sweetalert2.all.min.js">
</script>
<script>
    const btn = document.getElementById('updateProfile');
    const form = document.getElementById('profileForm');
  
    // Tambahkan event listener pada button
    btn.addEventListener('click', function() {
    Swal.fire({
        icon: "success",
        title: "Profil telah berhasil diubah",
        showConfirmButton: false,
        timer: 3000,
        width: '600px',
        customClass: {
            title: 'custom-title',
        },
    }).then((result) => {
        if (result.isConfirmed || result.dismiss === Swal.DismissReason.timer) {
            // Gunakan jQuery untuk submit form
            $('#profileForm').submit();
        }
    });
});
</script>
