<!-- for desktop -->
<section class="hero is-small size-gap is-hidden-touch">
    <div class="container column is-9">
        <div class="columns is-vcentered">
            <div class="column is-one-third">
                <div class="level">
                    <div class="level-item">
                    <figure class="image is-128x128">
                        <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Store Logo">
                    </figure>
                    </div>
                    <div class="level-item">
                        <h2 class="title is-2 mb-1">VARIO</h2>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-mobile">
                    <div class="column has-text-left">
                        <p>Produk: <span class="has-text-weight-bold has-text-danger">45</span></p>
                        <p>Pengikut: <span class="has-text-weight-bold has-text-danger">0</span></p>
                        <p>Performa chat: <span class="has-text-weight-bold has-text-danger">78% (hitungan jam)</span>
                        </p>
                    </div>
                    <div class="column has-text-left">
                        <p>Mengikuti: <span class="has-text-weight-bold has-text-danger">60,5RB</span></p>
                        <p>Penilaian: <span class="has-text-weight-bold has-text-danger">4.9</span> (15,1RB
                            Penilaian)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- for mobile -->
<section class="hero is-small size-gap is-hidden-desktop">
    <div class="container column is-9">
        <div class="columns is-vcentered">
            <div class="column is-one-third">
                <div class="level">
                    <div class="level-item">
                    <figure class="image is-128x128">
                        <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Store Logo">
                    </figure>
                    </div>
                    <div class="level-item">
                        <h2 class="title is-2 mb-1">VARIO</h2>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-mobile">
                    <div class="column has-text-left">
                        <p>Produk: <span class="has-text-weight-bold has-text-danger">45</span></p>
                        <p>Pengikut: <span class="has-text-weight-bold has-text-danger">0</span></p>
                        <p>Performa chat: <span class="has-text-weight-bold has-text-danger">78% (hitungan jam)</span>
                        </p>
                    </div>
                    <div class="column has-text-left">
                        <p>Mengikuti: <span class="has-text-weight-bold has-text-danger">60,5RB</span></p>
                        <p>Penilaian: <span class="has-text-weight-bold has-text-danger">4.9</span> (15,1RB
                            Penilaian)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>