<!-- ==================== DESKTOP ==================== -->
<section class="section size-gap grey is-hidden-touch">
    <div class="container column is-9 box">
        <h4 class="title is-5">Merk</h4>
        <div class="columns is-1 is-multiline">

            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">

                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">VARIO</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_adv.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">ADV</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_aerox.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">AEROX</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_beat.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">BEAT</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_crf.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">CRF</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_lexi.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">LEXI</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_mio.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">MIO</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_pcx.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">PCX</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_scoopy.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">SCOOPY</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">NMAX</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- ==================== MOBILE ==================== -->
<section class="section grey p-0 pb-5 is-hidden-desktop">
    <div class="container column box">
        <h4 class="title is-5">Merk</h4>
        <div class="columns is-flex is-gapless is-mobile horizontal-scroll p-1">

            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">VARIO</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_adv.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">ADV</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_aerox.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">AEROX</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_beat.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">BEAT</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_crf.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">CRF</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_lexi.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">LEXI</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_mio.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">MIO</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_pcx.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">PCX</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_scoopy.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">SCOOPY</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-half-touch">
                <a href="{{@BASE}}/merk">
                    <div class="card has-text-centered"
                        style="box-shadow: none; outline: 0.01px solid #ddd; outline-offset: -0.01px;">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="{{@BASE}}/public/images/mtr_vario.jpg" alt="Product Image"
                                    class="product-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">NMAX</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- <script>
    $(document).ready(function() {
        $('.column').click(function() {
            var url = $(this).data('url');
            window.location.href = url;
        });
    });
</script> -->